:root {
    --primary-text: #FFFFFF;
    --secondary-text: #86fbfb;
    --primary-background: #112A40;
    --secondary-background: #A1B1B0;
    --tertiary-background: #F28B0C;
    --link: #e310cb;
    --active-link: #ff17e4;
    --font-size: 1.3rem;
    --main-font: 'Open Sans', sans-serif;
    --accent-font: 'Vollkorn', serif;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
    background-color: var(--primary-background);
    color: var(--primary-text);
    font-size: var(--font-size);
}

h1, h2, h3 {
    margin: 0;
}

a {
    color: var(--link);
}

a:hover {
    color: var(--active-link);
    text-decoration: none;
}

.button {
    background-color: var(--link);
    padding: 0.5rem;
    border-radius: 5px;
    font-family: var(--accent-font);
    color: var(--primary-text);
    text-decoration: none;
}

.button:hover {
    color: var(--primary-text);
    background-color: var(--active-link);
}

.gradient {
    background: linear-gradient(90deg, rgba(255,23,228,1) 0%, rgba(134,251,251,1) 100%);
    height: 2px;
}

/*
 * Intro Stuff
 */

#intro {
    padding: 4rem 1rem 10rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name {
    font-family: var(--accent-font);
}

#intro .name span {
    font-family: var(--main-font);
    font-size: 4rem;
    color: var(--secondary-text);
    display: block;
}

#intro h2 {
    font-size: 4rem;
    font-weight: normal;
}

/*
 * Contact Stuff
 */

.contact-div {
    background-color: var(--tertiary-background);
}

#contact {
    text-align: center;
    padding: 4rem 0;
    width: 400px;
    margin: 0 auto;
}

#contact p:last-child {
    margin-top: 4rem;
}


/*
 * Navbar Stuff
 */

nav {
    font-family: var(--accent-font);
    font-size: 80%;
    padding: 1rem;
}

nav h1 a {
    font-family: var(--main-font);
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav [class*="fa-"] {
    font-size: 150%;
    color: var(--secondary-text);
}

nav h1 [class*="fa-"] {
    font-size: 100%;
    color: var(--secondary-text);
}

nav a {
    color: var(--primary-text);
    text-decoration: none;
    display: block;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav a:hover,
nav [class*="fa-"]:hover {
    color: var(--active-link);
}

/*
 * Footer Stuff
 */

footer {
    text-align: center;
    padding: 4rem 0;
    width: 400px;
    margin: 0 auto;
}

footer h2 {
    margin: 0;
}

footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    list-style-type: none;
    font-size: 3rem;
    padding: 0;
    margin: 2rem 0;
}

@media(min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }

    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}