/* Variables */

:root {
    --link-background: #9b2226;
    --link-hover-background: #001219;
    --link-hover-color: #e9d8a6;
    --outer-bounds-background: #DBE5DE;
    --primary-background: #e9d8a6;
    --banner-background: #ca6702;
    --secondary-background: #005f73;
    --accent-1: #005f73;
    --accent-2: #3d9397;
    --accent-3: #94d28d;
    --accent-4: #ee9800;
    --accent-5: #ca6702;
    --accent-6: #bb3e03;
}


/* General Styling */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--outer-bounds-background);
    padding: 0;
    margin: 0;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

section h2 {
    font-size: 2.5rem;
}


/* Mobile Layout. */

/* Mission Statement Styling */
#mission {
    margin-bottom: 3rem;
}

#mission img {
    display: block;
    max-height: 100px;
}

.missionstatement {
    display: block;
    line-height: 1.7;
}


/* Collections Styling */
figure {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 0 0.5rem 0;
    padding: 0;
    border-radius: 5px;
    border-style: solid;
    border-width: 10px;
    overflow: hidden;
}

figcaption {
    position: absolute;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    bottom: 0%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

figure img {
    width: 100%;
}

figcaption a {
    text-decoration: none;
    color: var(--link-hover-background);
}

#collection ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#collection ul li {
    flex-basis: 100%;
    padding: 0;
}

.accent1,
.accent1 a:hover {
    border-color: var(--accent-1);
}

.accent2,
.accent2 a:hover {
    border-color: var(--accent-2);
}

.accent3,
.accent3 a:hover {
    border-color: var(--accent-3);
}

.accent4,
.accent4 a:hover {
    border-color: var(--accent-4);
}

.accent5,
.accent5 a:hover {
    border-color: var(--accent-5);
}

.accent6,
.accent6 a:hover {
    border-color: var(--accent-6);
}


/* Footer Styling */
#footer {
    background-color: var(--primary-background);
}

footer {
    display: flex;
    flex-flow: column nowrap;
    padding: 3rem;
    max-width: 1200px;
    margin: 0 auto;
}

footer h4 {
    font-size: 1.5rem;
}

footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

footer li {
    margin: 0 0.5rem 2rem 0.5rem;
}

footer address {
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
}

/* Tablet Layout */
@media (min-width: 550px) {
    
    /* Mission Statement Styling */
    .missionstatement {
        display: flow-root; /* This "clears" the float. This prevents weird float things. */
        max-width: 900px;
    }
    
    #mission img {
        float: left;
        shape-outside: polygon(0% 0%, 52.5% 0%, 32% 100%, 0% 100%);
        max-height: 150px;
    }

    /* Collections Styling */
    #collection ul {
        justify-content: space-between;
    }

    #collection ul li {
        flex-basis: 49.5%;
    }
    
    /* Footer Styling */
    footer {
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: baseline;
    }
}


/* Desktop Layout */
@media (min-width: 800px) {
    
    /* Mission Statement Styling */
    #mission img {
        max-height: 200px;
    }

    /* Collections Styling */
    #collection ul li {
        flex-basis: 32.5%;
    }

    section h2 {
        margin-left: 100px;
    }
}
